// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	font-size: 62.5%
}

// General

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2.5rem;
}

p {
	font-size: 1.6rem;
}



// Container 

.main-container {
	width: 900px;
	margin: auto;
	padding: 0 20px;
}

// Header 

header {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
	nav {
		align-content: center;
		a {
			padding: 20px;
			text-decoration: none;
			font-size: 1.6rem;
		}
	}
}

// Intro Section 

section.intro {
	text-align: center;
	img {
		margin: 20px auto;
		height: 250px;
		border-radius: 125px;
	}
	div {
		text-align: center;
		p {
			font-size: 2rem;
		}
	}
	button {
		background-color: #fff;
		border: 1px solid black;
		border-radius: 5px;
		padding: 10px 40px;
		margin: 15px auto;
	}
}

// Skills

section.skills {
	display: flex;
	justify-content: space-between;
	div {
		width: calc(50% - 20px);
		ul li {
			font-size: 1.6rem;
			border: 1px solid gray;
			padding: 5px;
			border-radius: 5px;
		}
		ul li:hover {
			padding-left: 15px;
			cursor: pointer;
		}
	}
	h2 {
		margin: 20px 0;
	}
}

// Work History 

section.work-history {
	h2 {
		margin: 20px 0;
	}
	table {
		font-size: 1.6rem;
		width: 100%;
	}
	td, th{
		text-align: left;
		padding: 10px 5px;
	}
	tr:nth-child(even) {
		background-color: #dddddd;
	}
}

// Contact

section.contact {
	text-align: center;
	input[type=text], input[type=email], input[type=tel], textarea {
		width: 80%;
		padding: 10px;
		margin: 10px 0;
		border-radius: 5px;
		background-color: white;
		border: 1px solid black;
		font-family: inherit;
	}
	form {
		margin-top: 15px;
	}
}